.success-pop {
  position: absolute;
  background-color: $color-grey-light-2;
  color: rgb(17, 154, 17);
  padding: 1rem;
  right: 10rem;
  border-radius: 10px;
}

.delete-pop {
  position: absolute;
  background-color: $color-grey-light-2;
  color: rgb(154, 17, 17);
  padding: 1rem;
  right: 10rem;
  border-radius: 10px;
}
